* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #5e1813;
  box-shadow: 0px 2px 3px 0px #5e1813;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-top: 1px solid #5e1813;
    box-shadow: 0px 3px 3px 5px #5e1813;
}

.nav-footer {
  display: block;
  flex-direction: column;
}

.nav-footer a {
  padding: 5px;
}

.logoGuilbas-header {
  object-fit: cover;
  width: 120px;
  height: 120px;
  margin: 5px;
}

.carrito-btn {
  color: white;
  background-color: #d11c1e;
  box-shadow: 1px 1px 3px 1px #5e1813;
  border-radius: 2px;
  padding: 5px;
  height: 53px;
  margin: 10px;
  border: none;
  transition: all .3s;
}

.carrito-btn:hover {
  cursor: pointer;
  background-color: white;
  color: #d11c1e;
}

.carrito-btn:focus {
  outline: none;
}

.material-symbols-outlined {
  font-size: 40px;
}

#contador-carrito {
  font-size: 40px;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.card {
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px #5e1813;
  border: 1px solid #5e1813;
  text-align: center;
  background-color: white;
  object-fit: cover;
  position: relative;
  height: 560px;
}

.card-header img {
  border-bottom: 1px solid #5e1813;
  border-radius: 5px 5px 0 0;
  height: 270px;
  width: 100%;
}

.card-body-btnComprar {
 display: flex;
 align-items: center;
 justify-content: center;
}

.card-btnComprar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: #d11c1e;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Barlow Semi Condensed', sans-serif;
  box-shadow: 1px 1px 3px 1px #5e1813;
  border-radius: 2px;
  width: 140px;
  height: 40px;
  padding-left: 5px;
  margin: 10px;
  border: none;
  transition: all .3s;
}

.carrito-btn-comprar {
  padding-top: 5px;
  margin-bottom: 0px;
  font-size: 30px;
}

.card-btnComprar:hover {
  cursor: pointer;
  background-color: white;
  color: #d11c1e;
}

.card-btnComprar:focus {
  outline: none;
}

.card-body {
  padding: 0 10px;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 35px;
  bottom: 0;
  position: absolute;
}

.card-footer img {
  width: 50px;
  margin: 1rem 1rem 1rem 0;
  object-fit: cover;
}

.card-logo-texto {
  font-weight: bold;
}

.modal-container {
  margin: 15px;
  display: flex;
  top: 0;
  position: fixed;
  background-color: white;
  box-shadow: 1px 1px 3px 1px #5e1813;
  border: 1px solid #5e1813;
  max-width: 100%;
  max-height: 100%;
  visibility: hidden;
  transition: all .5s;
  opacity: 0;
  border-radius: 10px;
}

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.modal-carrito {
  width: 280px;
  height: 100%;
  padding: 15px;
  box-shadow: 1px 1px 3px 1px #5e1813;
  border: 1px solid #5e1813;
  border-radius: 10px;
  transition: all .5s;
  padding-bottom: 0;
}

.productoEnCarrito {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  display: flex;
}

.btn-eliminar {
  background-color: black;
  color: red;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-eliminar:focus {
  outline: none;
}

.carrito-img {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 3px;
  border: 1px solid #5e1813;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

#modal-cerrar {
  box-shadow: 1px 1px 3px 1px #5e1813;
  border: 1px solid #5e1813;
  background-color: #d11c1e;
  color: white;
  border-radius: 50%;
  height: 43px;
  padding: 0;
  transition: all .3s;
  margin: 5px;
}

#modal-cerrar:hover {
  cursor: pointer;
  background-color: white;
  color: #d11c1e;
}

.modal-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-logo img {
  width: 50px;
  margin: 1rem 1rem 1rem 0;
  object-fit: cover;
}

.modal-logo-texto {
  font-weight: bold;
}

.modal-carritoCompras {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.icon-delete {
  font-size: 30px;
}

.btn-eliminar {
  box-shadow: 1px 1px 3px 1px #5e1813;
  border: 1px solid #5e1813;
  background-color: #d11c1e;
  color: white;
  border-radius: 3px;
  height: 32px;
  width: 33px;
  padding: 0;
  transition: all .3s;
  margin: 5px;
}

.btn-eliminar:hover {
  cursor: pointer;
  background-color: white;
  color: #d11c1e;
}

.carrito-contenido {
  display: flex;
}

.carrito-block {
  display: block;
}

.modal-vaciarCarrito {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.modal-btn-vaciarCarrito {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: white;
  background: #d11c1e;
  box-shadow: 1px 1px 3px 1px #5e1813;
  border: 1px solid #5e1813;
  font-size: 15px;
  font-weight: bold;
  width: 90px;
  height: 22px;
  border-radius: 3px;
  padding-bottom: 10px;
}

.modal-btn-vaciarCarrito:hover {
  cursor: pointer;
  background-color: white;
  color: #d11c1e;
}

.modal-precioTotalProductos {
  padding-top: 10px;
}

.card-selectTalles {
  font-family:  'Barlow Semi Condensed', sans-serif;
  color: white;
  background: #d11c1e;
  box-shadow: 1px 1px 3px 1px #5e1813;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  margin-top: 10px;
  transition: all .3s;
}
.card-selectTalles:hover {
  cursor: pointer;
  background-color: white;
  color: #d11c1e;
  border: none;
  font-weight: bold;
}

.card-selectTalles:focus {
  outline: none;
}

a:-webkit-any-link {
  text-decoration: none;
}

#filtroProductos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  font-family:  'Barlow Semi Condensed', sans-serif;
  }

#filtroTitulo {
  font-size: 40px;
  padding-bottom: 10px;
}

#filtroIdFiltrar {
  margin-left: 8px;
  width: 64px;
  text-align: center;
}

#filtroIdFiltrar, #filtroIdReestablecer {
    font-family:  'Barlow Semi Condensed', sans-serif;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    padding-bottom: 2px;
    box-shadow: 1px 1px 3px 1px #5e1813;
    border: 1px solid #5e1813;
    color: white;
    background: #d11c1e;
    cursor: pointer;
}
#filtroIdFiltrar:hover{
  background-color: white;
  color: #d11c1e;
    transition: 400ms;
}

#filtroIdReestablecer {
  width: 125px;
}

#filtroIdReestablecer:hover{
  background-color: white;
  color: #d11c1e;
    transition: 400ms;
}

.filtro-categorias {
  font-weight: bold;
  font-size: 18px;
  color: black;
  padding: 5px;
}

input {
accent-color: #d11c1e;
}

input:hover {
  accent-color: #d11c1e;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swal2-styled {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 1199px) {
  #filtroProductos {
    display: block;
    text-align: center;
  }

  #filtroIdReestablecer {
    margin-top: 3px;
  }
}

@media screen and (max-width: 649px) {
  #filtroCategorias {
    display: flex;
    flex-direction: column;
  }

  .filtroIdFiltrar-mediaQuery {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  #filtroIdReestablecer {
    margin-left: 8px;
  }
}
