* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}
body {
          font-family: 'Barlow Semi Condensed', sans-serif;
}
header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: white;
          border-bottom: 1px solid #5e1813;
          box-shadow: 0px 2px 3px 0px #5e1813;
}
.logoGuilbas-header {
          object-fit: cover;
          width: 120px;
          height: 120px;
          margin: 5px;
}
.carrito-btn {
          color: white;
          background-color:#d11c1e;
          box-shadow: 1px 1px 3px 1px #5e1813;
          border-radius: 2px;
          padding: 5px;
          height: 53px;
          margin: 10px;
          border: none;
          transition: all .3s;
}
.carrito-btn:hover {
          cursor: pointer;
          background-color:white;
          color: #d11c1e;
}
.carrito-btn:focus {
          outline: none;
}

.material-symbols-outlined{
          font-size: 40px;
}
#contador-carrito {
          font-size: 40px;
}
#card-container {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
          grid-auto-rows: minmax(200px, auto);
          gap: 20px;
          padding: 20px;
          grid-auto-flow: dense;
}
.card {
          margin: 1rem;
          border-radius: 5px;
          box-shadow: 1px 1px 3px 1px #5e1813;
          border: 1px solid #5e1813;
          text-align: center;
          background-color: white;
          object-fit: cover;
}
.card-header img {
          border-bottom: 1px solid #5e1813;
          border-radius: 5px 5px 0 0;
          height: 320px;
          width: 100%;
}
.card-btnComprar {
          color: white;
          background-color:#d11c1e;
          font-weight: bold;
          font-family: 'Barlow Semi Condensed', sans-serif;
          box-shadow: 1px 1px 3px 1px #5e1813;
          border-radius: 2px;
          width: 100px;
          height: 58px;
          margin: 10px;
          border: none;
          transition: all .3s;
}
.cart-btn {
          padding-top: 5px;
          margin-bottom: 0px;
          font-size: 30px;
}
.card-btnComprar:hover {
          cursor: pointer;
          background-color:white;
          color: #d11c1e;
}
.card-btnComprar:focus {
          outline: none;
}
.card-footer {
          padding: 0 1rem;
}

.card-logo {
          display: flex;
          align-items: center;
          justify-content: center;
}
.card-logo img {
          width: 50px;
          margin:  1rem 1rem 1rem 0;
          object-fit: cover;
}
.card-logo-texto {
          font-weight: bold;
}
.card-wrap {
          display: flex;
          flex-flow: wrap;
}